apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: tvapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: snehal933/app-backend:latest
        ports:
        - containerPort: 8080
        env:
        - name: DB_HOST
          value: "postgres"
        - name: DB_PORT
          value: "5432"
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_DB
        - name: ALLOWED_ORIGINS
          value: "*"

---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: tvapp
spec:
  selector:
    app: backend
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30081   # <-- expose outside
  type: NodePort
  # type: ClusterIP
