apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: tvapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: snehal933/app-frontend:latest
        ports:
        - containerPort: 80
        env:
        - name: REACT_APP_API_URL
          value: "http://backend:8080"
          # hostPort: 80 
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: tvapp
spec:
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
  type: NodePort
