name: CI/CD to Kind EC2

on:
  # push:
  #   branches: [ main ]
  workflow_dispatch:

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Build and push backend image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/app-backend:latest backend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/app-backend:latest

      - name: Build and push frontend image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/app-frontend:latest frontend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/app-frontend:latest

      - name: Deploy to Kind on EC2
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            kubectl delete -f k8s --ignore-not-found
            kubectl apply -f k8s
            kubectl get pods -n myapp
