name: CI/CD to Kind EC2

on:
  # push:
  #   branches: [ main ]
  workflow_dispatch:

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/app-backend:latest backend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/app-backend:latest

      - name: Build and push frontend image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/app-frontend:latest frontend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/app-frontend:latest
      
      - name: Copy Kubernetes manifests to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "./k8s/*"
          target: "/home/ubuntu/k8s/"
      
      - name: Deploy to Kind on EC2
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            kubectl delete -f /home/ubuntu/k8s --ignore-not-found
            kubectl apply -f /home/ubuntu/k8s
            kubectl get pods -n myapp

